# Core libraries
torch
transformers

# Encoding & retrieval
fire
tqdm
ir_datasets
jsonlines
docarray
numpy<2.0.0
scipy>=1.11.0
ir_measures

# Training
omegaconf
datasets

# Query variation generators
git+https://github.com/Guzpenha/query_variation_generators.git
textattack
tensorflow
tensorflow_hub
IPython
pandas